body {
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-style: 14px;
    color: #0A1434;
}
.container {
    max-width: 1146px;
    margin: auto;
}
.header {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 12px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.btn {
    display: flex;
    padding: 8px 16px;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    outline: none; /*без обводки*/
    cursor: pointer;
}

.btn-primary {
    border-radius: 2px;
    background: #1890FF;
    border: 1px solid #1890FF;
    color: #FFF;
}

.navbar-menu {
    margin-right: auto;
}

.menu {
    list-style: none;
    margin: 0;
    padding-left: 22px;
    padding-right: 22px;
    display: flex;
}

.menu-item:not(:last-child) {
    margin-right: 14px;
}

.menu-link {
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
    color: inherit;
}

.button {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 10px 15px;
}

.button-link {
    color: inherit;
}

.button-primary {
    border-radius: 5px;
    background: rgba(37, 110, 235, 1);  
    color: white;
}

.search-panel {
    height: 50px;
    border-radius: 5px;
    background: rgba(37, 110, 235, 1);
    display: flex;
    padding: 3px;
}

.search-input {
    flex-grow: 1;
    border-radius: 5px;
    background: rgba(255, 255, 255, 1); 
    border: none;
    padding-left: 22px;
    padding-right: 22px;
}

.search-button {
    background: rgba(37, 110, 235, 1);
    border: none;
    color: white;
    padding-left: 20px;
    padding-right: 17px;
    display: flex;
    align-items: center;
}

.search-button-text {
    margin-left: 5px;
}

.page-content {
    display: grid;
    grid-template-columns: 9fr 3fr;
    grid-column-gap: 30px;
}

.card-image {
    border-radius: 10px;
    width: 264px;
    height: 178px;
    object-fit: cover; /* картинка обрежется, если не влезет */
}

.cards {
    display: flex;
    flex-wrap: wrap;
    
}

.card {
    margin-bottom: 39px;
    width: 264px;
    height: 279px;
}

.card:not(:nth-child(3n)) {
    margin-right: 20px;
}

.card-title {
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left; 
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    margin-bottom: 5px;
    margin-top: 12px;
    color: rgba(37, 110, 235, 1);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-link {
    text-decoration: none;
}

.card-price {
    display: block;
    line-height: 19px;
    font-style: 16px;
    margin-bottom: 10px;
    text-align: left;
}

.card-text {
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
    color: rgba(196, 196, 196, 1);
    margin-bottom: 4px;
    margin-top: 0;
}

.like {
    background-color: white;
    border: none;
    cursor: pointer;
    /* margin-left: 15px; */
    margin-bottom: 10px;
}

.sidebar .page-title {
    font-size: 18px;
    line-height: 21px;
}

.service {
    margin-bottom: 25px;
}

.service-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-top: 7px;
    margin-bottom: 5px;
}

.service-text {
    font-size: 14px;
    line-height: 16px;
    min-width: 217px;
}

.footer-text {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    color: #c4c4c4;
    margin-bottom: 5px;
}

.footer-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 16px;
}

.footer-link {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 5px;
}

.main-single {
    display: flex;
    flex-grow: 1;
    width: 100%;
    gap: 30px;
}

.content {
    max-width: 460px;
}

.swiper-image {
    width: 100%;
    border-radius: 10px;
}


.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    width: 100%;
    border-radius: 10px;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
    border-radius: 10px;

}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;

}

.content-product__text {
    font-size: 14px;
    line-height: 140%;
    color: inherit;
}

.content-product__left {
    width: 100%;
    flex-basis: 50%;
}

.content-product__right {
    width: 100%;
    flex-basis: 50%;
}

.content-product__title, .content-product__price {
    font-style: 24px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 25px;
}

.content-product__img {
    width: 100%;
}

.btn-large {
    width: 264px;
    height: 54px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 10px 15px;
}


@media (max-width: 991px) {
    .content-product {
        flex-direction: column;
    }
    .content-product__left {
        flex-basis: 100%;
    }

    .content-product__right {
        flex-basis: 100%;
    }
}