/* 
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
} */
body {
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-style: 14px;
    color: #0A1434;
}

.header {
    max-width: 1146px;
    margin: auto;
    padding-top: 30px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.navbar-menu {
    margin-right: auto;
}

.menu {
    list-style: none;
    margin: 0;
    padding-left: 22px;
    padding-right: 22px;
    display: flex;
}

.menu-item:not(:last-child) {
    margin-right: 14px;
}

.menu-link {
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
    color: inherit;
}

.button {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 10px 15px;
}

.button-link {
    color: inherit;
}

.button-primary {
    border-radius: 5px;
    background: rgba(37, 110, 235, 1);  
    color: white;
}

.search-panel {
    height: 50px;
    border-radius: 5px;
    background: rgba(37, 110, 235, 1);
    display: flex;
    padding: 3px;
}

.search-input {
    flex-grow: 1;
    border-radius: 5px;
    background: rgba(255, 255, 255, 1); 
    border: none;
    padding-left: 22px;
    padding-right: 22px;
}

.search-button {
    background: rgba(37, 110, 235, 1);
    border: none;
    color: white;
    padding-left: 20px;
    padding-right: 17px;
    display: flex;
    align-items: center;
}

.search-button-text {
    margin-left: 5px;
}